
@{
    ViewBag.Title = "首页";
}

<style>
    .es-table-outer tr {
        cursor: pointer;
    }

    table {
        line-height: 36px;
    }

    .es-block-menu {
        margin-top:10px;
        color:#000!important;
    }

        #Plan table tr{
            cursor:default;
            line-height: 24px;
        }

        #Plan h3, #Plan h2, #Plan h4, #Plan a {
            color: orange;
        }
</style>
<div class="es-table-outer" id="Plan">
    <table style="width: 100%">
        <tr>
            @if (ViewBag.Yesterday != null)
            {
                <td style="vertical-align: top">
                    <h3 class="label">@ViewBag.Yesterday.Year 年 @ViewBag.Yesterday.Month 月 @ViewBag.Yesterday.Day 日</h3>
                    <h4>待办事项</h4>
                    <div class="es-report-home">
                        @MvcHtmlString.Create(ViewBag.Yesterday.TodoList)
                    </div>
                    <h4>遇到问题</h4>
                    <div class="es-report-home">
                        @MvcHtmlString.Create(ViewBag.Yesterday.QuestionList)
                    </div>
                    <h4>已办事项</h4>
                    <div class="es-report-home">
                        @MvcHtmlString.Create(ViewBag.Yesterday.FinishedList)
                    </div>
                </td>
            }
            @if (ViewBag.LastWeek != null)
            {
                <td style="vertical-align: top">
                    <h3 class="label">@ViewBag.LastWeek.Year 年 第 @ViewBag.LastWeek.Week 周</h3>
                    <h4>待办事项</h4>
                    <div class="es-report-home">
                        @MvcHtmlString.Create(ViewBag.LastWeek.TodoList)
                    </div>
                    <h4>遇到问题</h4>
                    <div class="es-report-home">
                        @MvcHtmlString.Create(ViewBag.LastWeek.QuestionList)
                    </div>
                    <h4>已办事项</h4>
                    <div class="es-report-home">
                        @MvcHtmlString.Create(ViewBag.LastWeek.FinishedList)
                    </div>
                </td>
            }
            @if (ViewBag.LastMonth != null)
            {
                <td style="vertical-align: top">
                    <h3 class="label">@ViewBag.LastMonth.Year 年 @ViewBag.LastMonth.Month 月</h3>
                    <h4>待办事项</h4>
                    <div class="es-report-home">
                        @MvcHtmlString.Create(ViewBag.LastMonth.TodoList)
                    </div>
                    <h4>遇到问题</h4>
                    <div class="es-report-home">
                        @MvcHtmlString.Create(ViewBag.LastMonth.QuestionList)
                    </div>
                    <h4>已办事项</h4>
                    <div class="es-report-home">
                        @MvcHtmlString.Create(ViewBag.LastMonth.FinishedList)
                    </div>
                </td>
            }
            <td style="vertical-align: top">
                <h3 class="label">报告状态检查</h3>
                @if (!ViewBag.Day)
                {
                    <p>您还没有提交今日日报</p>
                }
                @if (!ViewBag.Week)
                {
                    <p>您还没有提交本周周报</p>
                }
                @if (!ViewBag.Month)
                {
                    <p>您还没有提交本月月报</p>
                }
                <p><a href="/Report/Day/@ViewBag.CurrentUser.ID">编写工作报告</a></p>
            </td>
        </tr>
    </table>
</div>
    <div class="es-table-outer">
        <div class="es-block-menu">
            <a href="#" data-toggle="ProjectsFilter">项目过滤器</a>
            <div id="ProjectsFilter" class="es-menu-extend">
                <p>项目名称：<input id="txtTitle" type="text" class="textbox" placeholder="项目名称" />&nbsp;&nbsp; 项目状态：<select id="lstStatus" class="select" style="width: 130px"><option value="">全部</option><option value="0">当前</option><option value="1">完成</option><option value="2">竞标</option><option value="3">废弃</option></select></p>
                <p>签订时间：从 <input id="txtBegin" type="text" class="textbox" value="" /> 到 <input id="txtEnd" type="text" class="textbox" value="" /></p>
                <p>开票时间：从 <input id="txtInvoiceBegin" type="text" class="textbox" value="" /> 到 <input id="txtInvoiceEnd" type="text" class="textbox" value="" /></p>
                <p>
                    企业名称：
                    <select class="select" id="lstEnterpriseID">
                        <option>不限制</option>
                        @foreach (EnterpriseModel e in ViewBag.Enterprises)
                        {
                            <option value="@e.ID">@e.Title</option>
                        }
                    </select>
                    <p><a href="javascript:page=0;$('#lstProjects').html('');Load();CloseToggle(event);">检索</a> <a href="javascript:CloseToggle();">关闭</a></p>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th data-col="RefNum">ID</th>
                    <th data-col="UserID">所有者 </th>
                    <th data-col="Title">项目名称 </th>
                    <th data-col="Charge">项目金额 </th>
                    <th data-col="SignTime">签订日期 </th>
                    <th data-col="ProductID">产品类型 </th>
                    <th data-col="EnterpriseID">客户 </th>
                    <th data-col="Enterprise.Brand">品牌 </th>
                    <th data-col="CustomerID">联系人 </th>
                    <th data-col="Status">状态 </th>
                    <th data-col="InvoiceTime">开票日期 </th>
                    <th data-col="ChargeTime">收款日期 </th>
                </tr>
            </thead>
            <tbody id="lstProjects"></tbody>
        </table>

        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="cursor: default">
            <tr width="100%">
                <td height="7" align="right" valign="middle" nowrap>总记录数&nbsp;<span id="__countOfRecords">0</span>条&nbsp;&nbsp;<span id="__targetPageNo">0</span>/<span id="__countOfPages">0</span></td>
                <td nowrap width="10">&nbsp;</td>
                <td width="150" valign="middle" align="right">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:3px;">
                        <tr>
                            <td height="20" valign="middle" nowrap align="right"><img id="__firstYes" src="/Images/first_1.jpg" onclick="" style="display: none; cursor: hand" onmouseout="this.src='/Images/first_1.jpg'" onmouseover="this.src='/Images/first_2.jpg'" /><img id="__firstNo" src="/Images/first_1.jpg" /><img id="__preYes" src="/Images/pre_1.jpg" onclick="" style="display: none; cursor: hand" onmouseout="this.src='/Images/pre_1.jpg'" onmouseover="this.src='/Images/pre_2.jpg'" /><img id="__preNo" src="/Images/pre_1.jpg" /><img id="__nextYes" src="/Images/next_1.jpg" onclick="" style="display: none; cursor: hand" onmouseout="this.src='/Images/next_1.jpg'" onmouseover="this.src='/Images/next_2.jpg'" /><img id="__nextNo" src="/Images/next_1.jpg" /><img id="__lastYes" src="/Images/last_1.jpg" onclick="" style="display: none; cursor: hand" onmouseout="this.src='/Images/last_1.jpg'" onmouseover="this.src='/Images/last_2.jpg'" /><img id="__lastNo" src="/Images/last_1.jpg" /></td>
                        </tr>
                    </table>
                </td>
                <td nowrap width="80">&nbsp;</td>
            </tr>
        </table>

    </div>
    <script>
        $("#txtBegin").datetimepicker();
        $("#txtEnd").datetimepicker();
        $("#txtInvoiceBegin").datetimepicker();
        $("#txtInvoiceEnd").datetimepicker();
        $("#txtPlanBegin").datetimepicker();
        $("#txtPlanEnd").datetimepicker();
        $("#btnAddProject").click(function () {
            ShowLoading();
            $.post("/Project/Create",
                {
                    Title: $("#txtNewTitle").val(),
                    Status: $("#lstNewStatus").val(),
                    Description: $("#txtDescription").val(),
                    Begin: $("#txtPlanBegin").val(),
                    End: $("#txtPlanEnd").val(),
                    Priority: $("#lstPriority").val(),
                    sid: "@ViewBag.SID"
                }, function (id) {
                    window.location = "/Project/Show/" + id;
                });
        });
    </script>
