@model ProjectModel
@{
    ViewBag.Title = "支出记录";
}

<style>
    td .textbox, td .select {
        width:80px;
    }
    td a, td a:visited, td a:active {
        color: #fff!important;
    }
        td a:hover {
            color:#eee!important;
        }
</style>

<div class="es-block-menu">
    <div class="es-dialog" style="left: 500px; width:300px">
        <h2>编辑支出</h2>
        <p>
            费用类型
            <br />
            <select id="Type" class="select">
                @for (int i = 0; i < BillModel.BillTypes.Count(); i++)
                {
                    <option value="@i">@(BillModel.BillTypes[i])</option>
                }
            </select>
        </p>
        <p>
            说明
            <br />
            <input type="text" class="textbox" id="Hint" />
        </p>
        <p>
            计划经费
            <br />
            ￥<input type="text" class="textbox" id="Plan" />
        </p>
        <p>
            实际经费
            <br />
            ￥<input type="text" class="textbox" id="Actual" />
        </p>
        <p><a href="javascript:;" id="btnSaveBill">保存修改</a></p>
    </div>
    <a href="/Project/Show/@Model.ID">项目信息</a>
    <a href="/Project/Bill/@Model.ID" class="es-block-menu-active">支出</a>
    <a href="#" data-toggle="ExportMenu">导出支出</a>
    <div class="es-menu-extend" id="ExportMenu">
        <table>
            <tr>
                <td style="width:180px">
                    <p style="text-align:center"><img style="width:120px;height:120px;" src="~/Images/excel.png" /></p>
                    <p style="text-align:center"><a href="/Project/ExportExcel/@Model.ID">导出到Excel</a></p>
                </td>
                <td style="width:180px">
                    <p style="text-align:center"><img style="width:120px;height:120px;" src="~/Images/pdf.png" /></p>
                    <p style="text-align:center"><a href="/Project/ExportPDF/@Model.ID">导出到PDF</a></p>
                </td>
            </tr>
        </table>
    </div>
    <a href="/Project/Log/@Model.ID">操作记录</a>
    @Url.LinkWithSID("删除项目", "Delete", "Project", new { id = Model.ID });
</div>
<div class="es-table-outer">
    <table class="table">
        <thead>
            <tr>
                <th>项目</th>
                <th>项目金额</th>
                <th>费用类型</th>
                <th>说明</th>
                <th>计划经费</th>
                <th>实际经费</th>
                <th>支出日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="lstBills">
            @foreach (BillViewModel b in ViewBag.Bills)
            {
                <tr id="@b.ID">
                    <td><a href="/Project/Show/@Model.ID">P@(Model.ID) @Model.Title</a></td>
                    <td>￥@(Model.Charge.HasValue ? Model.Charge.Value.ToString("0.00") : "N/A")</td>
                    <td>@b.Type</td>
                    <td>@b.Hint</td>
                    <td>￥@b.Plan.ToString("0.00")</td>
                    <td>￥@b.Actual.ToString("0.00")</td>
                    <td>@b.Time</td>
                    <td>
                        <a href="javascript:EditBill('@b.ID')">编辑</a>
                        <a href="javascript:DeleteBill('@b.ID')">删除</a>
                    </td>
                </tr>
            }
        </tbody>
        <tbody>
            <tr>
                <td><a href="/Project/Show/@Model.ID">P@(Model.ID) @Model.Title</a></td>
                <td>￥@(Model.Charge.HasValue ? Model.Charge.Value.ToString("0.00") : "N/A")</td>
                <td>
                    <select id="lstTypes" class="select">
                        @for (int i = 0; i < BillModel.BillTypes.Count(); i++)
                        {
                            <option value="@i">@(BillModel.BillTypes[i])</option>
                        }
                    </select>
                </td>
                <td><input type="text" class="textbox" id="txtHint" placeholder="说明" /></td>
                <td>￥<input type="text" class="textbox" id="txtPlan" placeholder="计划金额" /></td>
                <td>￥<input type="text" class="textbox" id="txtActual" placeholder="实际金额" /></td>
                <td>@DateTime.Now.ToString("yyyy-MM-dd")</td>
                <td>
                    <a href="javascript:;" id="btnAddBill">添加支出</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    $("#btnAddBill").click(function () {
        ShowLoading();
        var type = $("table option[value='"+$("#lstTypes").val()+"']").html();
        $.post("/Project/AddBill/@Model.ID", {
            Type: $("#lstTypes").val(),
            Hint: $("#txtHint").val(),
            Plan: $("#txtPlan").val(),
            Actual: $("#txtActual").val(),
            sid: "@ViewBag.SID"
        }, function (id) {
            $("#lstBills").append("<tr id='" + id + "'><td>P@(Model.ID)  @Model.Title</td><td>￥@(Model.Charge.HasValue ? Model.Charge.Value.ToString("0.00") : "N/A")</td><td>" + type + "</td><td>" + $("#txtHint").val() + "</td><td>￥" + $("#txtPlan").val() + "</td><td>￥" + $("#txtActual").val() + "</td><td>@DateTime.Now.ToString("yyyy-MM-dd")</td><td><a href='javascript:EditBill(\'" + id + "\')'>编辑</a> <a href='javascript:DeleteBill(\"" + id + "\")'>删除</a></td></tr>");
            HideLoading();
        });
    });


    function DeleteBill(id) {
        ShowLoading();
        $.post("/Project/DeleteBill/" + id, { sid: "@ViewBag.SID" }, function () {
            $("#" + id).slideUp(200);
            HideLoading();
        });
    }

    var CurrentID;

    function EditBill(id)
    {
        ShowLoading();
        $.getJSON("/Project/GetBill/" + id, {}, function (data) {
            CurrentID = data.ID;
            $("#Type").val(data.TypeAsInt);
            $("#Hint").val(data.Hint);
            $("#Plan").val(data.Plan);
            $("#Actual").val(data.Actual);
            $(".es-dialog").addClass("show");
            HideLoading();
        });
    }

    $("#btnSaveBill").click(function () {
        ShowLoading();
        $.post("/Project/EditBill/" + CurrentID, {
            Type: $("#Type").val(),
            Hint: $("#Hint").val(),
            Plan: $("#Plan").val(),
            Actual: $("#Actual").val(),
            sid: '@ViewBag.SID'
        }, function () {
            $($("#" + CurrentID).children("td")[2]).html($(".es-dialog option[value='" + $("#Type").val() + "']").html());
            $($("#" + CurrentID).children("td")[3]).html($("#Hint").val());
            $($("#" + CurrentID).children("td")[4]).html($("#Plan").val());
            $($("#" + CurrentID).children("td")[5]).html($("#Actual").val());
            $(".es-dialog").removeClass("show");
            HideLoading();
        });
    });
</script>
