
@{
    ViewBag.Title = "项目管理";
}
<style>
    .es-table-outer tr {
        cursor: pointer;
    }

    table {
        line-height: 36px;
    }
</style>
<div class="es-block-menu">
    @if (ViewBag.CurrentUser.Role != UserRole.Finance)
    {
        <a href="#" data-toggle="AddProject">添加项目</a>
        <div id="AddProject" class="es-menu-extend">
            <table style="width:600px">
                <tr>
                    <td>项目所有者</td>
                    <td colspan="3">
                        <select class="select" id="selectNewUserId" onchange="selectUser()">
                            @foreach (UserModel u in ViewBag.Users)
                            {
                            <option value="@u.ID" department="@u.DepartmentTitle">@u.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>组</td>
                    <td id="__department">&nbsp;</td>
                    <td>公司</td>
                    <td id="__cmpany">北京易佰思</td>
                </tr>
                <tr>
                    <td>项目名称</td>
                    <td><input id="txtNewTitle" type="text" class="textbox @(Convert.ToBoolean(ViewBag.Config["Title"])?"" :"nullable")" placeholder="项目名称" /></td>
                    <td>项目状态</td>
                    <td>
                        <select id="lstNewStatus" class="select span-width">
                            <option value="0">当前</option>
                            <option value="1">完成</option>
                            <option value="2">竞标</option>
                            <option value="3">废弃</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>说明</td>
                    <td colspan="3"><input id="txtDescription" type="text" class="textbox full-width @(Convert.ToBoolean(ViewBag.Config["Description"])?"" :"nullable")" placeholder="项目说明" /></td>
                </tr>
                <tr>
                    <td>计划开始时间</td>
                    <td><input id="txtPlanBegin" type="text" class="textbox @(Convert.ToBoolean(ViewBag.Config["Begin"])?"" :"nullable")" placeholder="计划开始时间" /></td>
                    <td>计划结束时间</td>
                    <td><input id="txtPlanEnd" type="text" class="textbox full-width @(Convert.ToBoolean(ViewBag.Config["End"])?"" :"nullable")" placeholder="计划结束时间" /></td>
                </tr>
                <tr>
                    <td>优先级</td>
                    <td>
                        <select id="lstPriority" class="select span-width">
                            <option value="0">正常</option>
                            <option value="1">中等</option>
                            <option value="2">高</option>
                        </select>
                    </td>
                    <td>价格</td>
                    <td><input id="txtCharge" type="text" class="textbox @(Convert.ToBoolean(ViewBag.Config["Charge"])?"" :"nullable")" placeholder="金额" /></td>
                </tr>
            </table>
            <p style="text-align:center"><a href="javascript:void(0);" id="btnAddProject">下一步</a> <a href="javascript:CloseToggle();">关闭</a></p>
        </div>
    }
    <div id="ProjectsFilter" class="es-menu-extend" offsetRight="400">
        <p>项目ID：<input id="txtProjectID" type="text" class="textbox" placeholder="项目ID" /></p>
        <p>项目名称：<input id="txtTitle" type="text" class="textbox" placeholder="项目名称" />&nbsp;&nbsp; 项目状态：<select id="lstStatus" class="select" style="width: 130px"><option value="">全部</option><option value="0">当前</option><option value="1">完成</option><option value="2">竞标</option><option value="3">废弃</option></select></p>
        <p>签订时间：从 <input id="txtBegin" type="text" class="textbox" value="" /> 到 <input id="txtEnd" type="text" class="textbox" value="" /></p>
        <p>开票时间：从 <input id="txtInvoiceBegin" type="text" class="textbox" value="" /> 到 <input id="txtInvoiceEnd" type="text" class="textbox" value="" /></p>
        <p>金额范围：大于等于 <input id="txtGte" type="text" class="textbox" value="" /> 小于等于 <input id="txtLte" type="text" class="textbox" value="" /></p>
        <p>
            企业名称：
            <select class="select" id="lstEnterpriseID">
                <option>不限制</option>
                @foreach (EnterpriseModel e in ViewBag.Enterprises)
                {
                    <option value="@e.ID">@e.Title</option>
                }
            </select>
        </p>
        <p><a href="javascript:page=0;$('#lstProjects').html('');Load();CloseToggle();">检索</a><a href="javascript:CloseToggle();">关闭</a></p>
    </div>
    <a href="#" data-toggle="ProjectsExport">导出</a>
    <div id="ProjectsExport" class="es-menu-extend">
        @using (Html.BeginForm("Export", "Project", FormMethod.Post))
        {
            @Html.AntiForgerySID()
            <h3>导出项目</h3>
            <p>
                签订时间：
                <input id="txtExportBegin" name="begin" type="text" class="textbox nullable" value="" /> 到
                <input id="txtExportEnd" name="end" type="text" class="textbox nullable" value="" />
            </p>
            <p>
                <button class="button button-def" name="type" value="Excel">导出Excel</button>
                <button class="button button-def" name="type" value="PDF">导出PDF</button>
            </p>
        }
        @if (ViewBag.CurrentUser.Role >= UserRole.Finance)
        {
            using (Html.BeginForm("ExportBill", "Project", FormMethod.Post))
            {
                <h3>导出支出</h3>
                <p>
                    支出时间：
                    <input name="begin" type="text" class="textbox nullable" value="" /> 到
                    <input name="end" type="text" class="textbox nullable" value="" />
                </p>
                <p>
                    <button class="button button-def" name="type" value="Excel">导出Excel</button>
                    <button class="button button-def" name="type" value="PDF">导出PDF</button>
                </p>
            }
        }
        <p><a href="javascript:CloseToggle();">关闭</a></p>
    </div>

    <a href="javascript:DeleteSelectedProjects();">删除</a>
    <a href="#" data-toggle="ProjectsFilter" style="float:right">过滤器</a>
</div>
<div class="es-table-outer">
    <table class="table">
        <thead>
            <tr>
                <th style="text-align:center;"><input type="checkbox" id="__checkboxAll" onchange="check_all()" /></th>
                <th data-col="RefNum">ID</th>
                <th data-col="UserID">所有者 </th>
                <th data-col="Title">项目名称 </th>
                <th data-col="Charge">项目金额 </th>
                <th data-col="SignTime">签订日期 </th>
                <th data-col="ProductID">产品类型 </th>
                <th data-col="EnterpriseID">客户 </th>
                <th data-col="Enterprise.Brand">品牌 </th>
                <th data-col="CustomerID">联系人 </th>
                <th data-col="Status">状态 </th>
                <th data-col="InvoiceTime">开票日期 </th>
                <th data-col="ChargeTime">收款日期 </th>
            </tr>
        </thead>
        <tbody id="lstProjects"></tbody>
    </table>

    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="cursor: default">
        <tr width="100%">
            <td height="7" align="right" valign="middle" nowrap>总记录数&nbsp;<span id="__countOfRecords">0</span>条&nbsp;&nbsp;<span id="__targetPageNo">0</span>/<span id="__countOfPages">0</span></td>
            <td nowrap width="10">&nbsp;</td>
            <td width="150" valign="middle" align="right">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:3px;">
                    <tr>
                        <td height="20" valign="middle" nowrap align="right"><img id="__firstYes" src="/Images/first_1.jpg" onclick="" style="display: none; cursor: hand" onmouseout="this.src='/Images/first_1.jpg'" onmouseover="this.src='/Images/first_2.jpg'" /><img id="__firstNo" src="/Images/first_1.jpg" /><img id="__preYes" src="/Images/pre_1.jpg" onclick="" style="display: none; cursor: hand" onmouseout="this.src='/Images/pre_1.jpg'" onmouseover="this.src='/Images/pre_2.jpg'" /><img id="__preNo" src="/Images/pre_1.jpg" /><img id="__nextYes" src="/Images/next_1.jpg" onclick="" style="display: none; cursor: hand" onmouseout="this.src='/Images/next_1.jpg'" onmouseover="this.src='/Images/next_2.jpg'" /><img id="__nextNo" src="/Images/next_1.jpg" /><img id="__lastYes" src="/Images/last_1.jpg" onclick="" style="display: none; cursor: hand" onmouseout="this.src='/Images/last_1.jpg'" onmouseover="this.src='/Images/last_2.jpg'" /><img id="__lastNo" src="/Images/last_1.jpg" /></td>
                    </tr>
                </table>
            </td>
            <td nowrap width="80">&nbsp;</td>
        </tr>
    </table>
</div>
<script>
    $("[name='begin']").datetimepicker();
    $("[name='end']").datetimepicker();
    $("#txtBegin").datetimepicker();
    $("#txtEnd").datetimepicker();
    $("#txtPlanBegin").datetimepicker();
    $("#txtPlanEnd").datetimepicker();
    $("#btnAddProject").click(function () {
        if ($("#selectNewUserId").val() == "") {
            alert("项目所有者不能为空！");
            return;
        }
        if ($("#txtNewTitle").val() == "") {
            alert("项目标题不能为空！");
            return;
        }
        if ($("#txtDescription").val() == "") {
            alert("项目说明不能为空！");
            return;
        }
        if ($("#txtPlanBegin").val() == "") {
            alert("项目开始时间不能为空！");
            return;
        }
        if ($("#txtPlanEnd").val() == "") {
            alert("项目结束时间不能为空！");
            return;
        }
        if ($("#txtCharge").val() == "") {
            alert("金额不能为空！");
            return;
        }
        ShowLoading();
        $.post("/Project/Create",
            {
                UserId: $("#selectNewUserId").val(),
                Title: $("#txtNewTitle").val(),
                Status: $("#lstNewStatus").val(),
                Description: $("#txtDescription").val(),
                Begin: $("#txtPlanBegin").val(),
                End: $("#txtPlanEnd").val(),
                Priority: $("#lstPriority").val(),
                Charge: $("#txtCharge").val(),
                sid: "@ViewBag.SID"
            }, function (id) {
                HideLoading();
                if (id == "aaaaaaa...sameID...bbbbbb") {
                    alert("所填写的ID已经被使用，请填写新的ID");
                    return;
                }
                window.location = "/Project/Show/" + id;
            });
    });

    function DeleteSelectedProjects() {
        var nameOfCheckItem = "__checkItem";
        var inputs = document.getElementsByTagName('input');
        var a = new Array();
        var ids = new Array();
        for (var i = 0; i < inputs.length; i++) {
            var input = inputs[i];
            if (input.getAttribute('name') == nameOfCheckItem) {
                a.push(input);
                if (input.checked) {
                    ids.push(input.getAttribute('idOfProject'));
                }
            }
        }
        //当一条记录也没有时
        if (a.length == 0) {
            alert('没有可供删除的记录');
            return;
        }
        if (ids.length == 0) {
            alert('请选择要删除的记录');
            return;
        }

        ShowLoading();
        $.post("/Project/DeleteSelectedProjects/", { ids: ids.join(',') }, function () {
            Load();
            HideLoading();
        });
    }

    function selectUser() {
        var select = document.getElementById('selectNewUserId');
        var index = select.selectedIndex;
        document.getElementById('__department').innerHTML = select.options[index].getAttribute('department');
    }
</script>