@model ProjectModel
@{
    ViewBag.Title = Model.Title + "编辑项目";
}
<style>
    table {
        width: 100%;
    }
    td {
        vertical-align: top;
    }
    .es-block {
        font-size: 12px;
        line-height: 24px;
    }
    h2 {
        color: #fff;
    }
    h3 {
        color: rgb(76, 80, 88);
    }
    .status-table {
        width:auto!important;float:right;margin-top:10px;
    }
        .status-table td {
            padding:5px;
        }
    .es-table-outer {
        padding-left:20px;
        padding-right:20px;
        padding-bottom:20px;
    }
</style>
<div class="es-block-menu">
    <a href="/Project/Edit/@Model.ID" class="es-block-menu-active">项目信息</a>
    <a href="/Project/Bill/@Model.ID">支出</a>
    <a href="/Project/Log/@Model.ID">操作记录</a>
</div>
<div class="es-table-outer">
    <table>
        <tr>
            <td>
                <h2>@Model.Title</h2>
                <img src="/User/Avatar/@Model.UserID" class="es-user-icon" /><span class="es-user-name">@Model.User.Name (@Model.User.Username)</span>
            </td>
            <td>
                <table class="status-table">
                    <tr>
                        <td>状态</td>
                        <td>状况</td>
                        <td>计划完成</td>
                        <td>进度</td>
                    </tr>
                    <tr>
                        <td><span class="label blue">当前</span></td>
                        <td><span class="label orange">存在问题</span></td>
                        <td>2014-7-17</td>
                        <td>
                            <div style="width:80px;border:1px solid #fff;height:20px;text-align:center;border-radius:20px;"><span style="position:relative;z-index:1">50%</span><div style="width:50%;background-color:green;position:relative;top:-20px;left:0;height: 18px;border-radius:18px;"></div></div>
                            
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="es-block">
    <table>
        <tr>
            <td>
                <h3>基本信息</h3>
                <p>项目名称<br /><input type="text" class="textbox" placeholder="项目名称" value="@Model.Title" /></p>
                <p>项目说明<br /><textarea class="textbox">@Model.Description</textarea></p>
                <p>计划开始时间<br /><input name="Begin" type="text" class="textbox" placeholder="计划开始时间" value="@Model.Begin" /></p>
                <p>计划完成时间<br /><input name="End" type="text" class="textbox" placeholder="计划完成时间" value="@Model.End" /></p>
                <p>
                    优先级
                    <br />
                    <select class="select">
                        <option value="0" @(Model.Priority == ProjectPriority.Normal ? " selected" : "")>正常</option>
                        <option value="1" @(Model.Priority == ProjectPriority.Medium ? " selected" : "")>中等</option>
                        <option value="2" @(Model.Priority == ProjectPriority.High ? " selected" : "")>高</option>
                    </select>
                </p>
                <p>
                    项目状态
                    <br />
                    <select class="select">
                        <option value="0" @(Model.Status == ProjectStatus.Current ? " selected" : "")>当前</option>
                        <option value="1" @(Model.Status == ProjectStatus.Completed ? " selected" : "")>完成</option>
                        <option value="2" @(Model.Status == ProjectStatus.Bidding ? " selected" : "")>竞标</option>
                        <option value="3" @(Model.Status == ProjectStatus.Dumped ? " selected" : "")>废弃</option>
                    </select>
                </p>
                <h3>客户信息</h3>
                <input id="EnterpriseID" type="hidden" name="EnterpriseID" value="@Model.EnterpriseID" />
                <p>客户名称<br /><input id="EnterpriseName" data-toggle="EnterpriseSelect" type="text" class="textbox" placeholder="客户名称或客户首字母" value="@(Model.EnterpriseID == null?"" : Model.Enterprise.Title)" /></p>
                    <div class="es-menu-extend" id="EnterpriseSelect">
                        <div id="lstEnterprises">
                            @if (ViewBag.Enterprises.Count == 0)
                            {
                                <small>您还没有添加任何客户</small>
                                <hr />
                            }
                            else
                            {
                                foreach (EnterpriseListViewModel e in ViewBag.Enterprises)
                                {
                                    <img src="/Enterprise/Icon/@e.ID" class="es-icon-small" /><a href="javascript:$('#EnterpriseID').val(@e.ID);" data-content="@e.Title">@e.Title</a><hr />
                                }
                            }
                        </div>
                        <a href="/Enterprise" target="_blank">添加新客户</a>
                    </div>
                <input type="hidden" name="CustomerID" value="@Model.CustomerID" />
                <p>客户联系人<br /><input id="CustomerName" type="text" class="textbox" placeholder="客户联系人" value="@(Model.CustomerID == null?"" : Model.Customer.Name)" disabled /></p>
            </td>
            <td>
                <h3>扩展信息</h3>
                <p>
                    订单状态
                    <br />
                    <select class="select">
                        <option value="true"@(Model.Ordering?" selected" :"")>有订单</option>
                        <option value="true" @(!Model.Ordering ? " selected" : "")>无订单</option>
                    </select>
                </p>
                <p>
                    项目类别
                    <br />
                    <select class="select">
                        <option>未指定类别</option>
                        @foreach (CategoryModel c in ViewBag.Categories)
                        {
                            <option value="@c.ID">@c.Title</option>
                        }
                    </select>
                </p>
                <p>
                    产品名称
                    <br />
                    <select class="select"></select>
                </p>
                <p>签订日期<br /><input type="text" name="SignTime" class="textbox" placeholder="签订日期" /></p>
                <p>
                    所在地区
                    <br />
                    <select class="select">
                        <option>未指定类别</option>
                        @foreach (ZoneModel z in ViewBag.Zones)
                        {
                            <option value="@z.ID">@z.Title</option>
                        }
                    </select>
                </p>
            </td>
            @if (ViewBag.CurrentUser.Role >= UserRole.Finance)
            {
                <td>
                    <h3>财务信息</h3>
                    <p>项目金额<br /><input type="text" class="textbox" placeholder="项目金额" value="@Model.Charge" /></p>
                    <p>税金<br /><strong>￥@Model.Award</strong></p>
                    <p>销售佣金<br /><strong>￥@Model.SellingCommisson</strong></p>
                    <p>项目部奖金<br /><strong>￥@Model.Award</strong></p>
                    <p>项目利润<br /><strong>￥@Model.Profit</strong></p>
                    <p>项目毛利率%<br /><strong></strong></p>
                </td>
            }
            <td>
                <h3>发票信息</h3>
                <p>发票金额<br /><input type="text" class="textbox" placeholder="发票金额" value="@Model.InvoicePrice" /></p>
                <p>开票日期<br /><input type="text" name="InvoiceTime" class="textbox" placeholder="开票日期" value="@Model.InvoiceTime" /></p>
                <p>发票号<br /><input type="text" class="textbox" placeholder="发票号" value="@Model.InvoiceSN" /></p>
                <p>备注<br /><textarea class="textbox" placeholder="备注">@Model.Hint</textarea></p>
                <p>收款日期<br /><input type="text" name="ChargeTime" class="textbox" placeholder="收款日期" value="@Model.ChargeTime" /></p>
                <p>
                    交易类型
                    <br/>
                    <select class="select">
                        <option value="0"@(Model.PayMethod == PayMethod.Unpaid?" selected" :"")>未确定</option>
                        <option value="1"@(Model.PayMethod == PayMethod.Cash ? " selected" : "")>现金</option>
                        <option value="2"@(Model.PayMethod == PayMethod.Transfer ? " selected" : "")>转账</option>
                    </select>
                </p>
                <p>实收金额<br /><input type="text" class="textbox" placeholder="实收金额" value="@Model.ActualPayments" /></p>
            </td>
        </tr>
    </table>
    @if (ViewBag.CurrentUser.Role != UserRole.Finance)
    {
        <div class="es-block-menu">
            <p style="text-align:center"><a href="javascript:;">保存全部信息</a></p>
        </div>
        <script>
            $("input[name='Begin']").datetimepicker();
            $("input[name='End']").datetimepicker();
            $("input[name='InvoiceTime']").datetimepicker();
            $("input[name='SignTime']").datetimepicker();
            $("#EnterpriseName").blur(function () {
                if ($("#EnterpriseID").val() == null || $("#EnterpriseID").val() == "")
                {
                    $("#CustomerName").attr("disabled", "disabled");
                    $("#CustomerName").val("");
                    $("#CustomerID").val(null);
                }
                else
                    $("#CustomerName").removeAttr("disabled");
            });
            $("#EnterpriseName").keyup(function () {
                $("#CustomerName").attr("disabled", "disabled");
                $("#CustomerName").val("");
                $("#CustomerID").val(null);
                if ($("#EnterpriseName").val() == "") return;
                $("#lstEnterprises").html("<img src='/Images/loading_small.gif' class='es-icon-small'>加载中...<hr />");
                $.getJSON("/Enterprise/Search", { Text: $("#EnterpriseName").val() }, function (data) {
                    for (var i = 0; i < data.length; i++)
                    {
                        $("#lstEnterprises").append('<img src="/Enterprise/Icon/' + data[i].ID + '" class="es-icon-small" /><a href="javascript:$(\'#EnterpriseID\').val(' + data[i].ID + ');" data-content="' + data[i].Title + '">' + data[i].Title + '</a><hr />');
                    }
                    if (data.length == 0)
                    {
                        $("#lstEnterprises").html("<small>没有找到匹配的企业</small><hr />");
                    }
                    $("[data-content]").unbind().click(function () {
                        $("[data-toggle='" + CurrentNotification + "']").val($(this).attr("data-content"));
                        $("#" + CurrentNotification).slideUp(200);
                        CurrentNotification = null;
                    });
                });
            });
        </script>
    }
    else
    {
        <script>
                $(".es-block input[type='text']").attr("disabled", "disabled");
                $(".es-block input[type='select']").attr("disabled", "disabled");
                $(".es-block textarea").attr("disabled", "disabled");
        </script>
    }
</div>
