@model ProjectModel
@{
    ViewBag.Title = Model.Title + " - 编辑项目";
}
<style>
    table {
        width: 100%;
    }

    td {
        vertical-align: top;
    }

    .es-block {
        font-size: 12px;
        line-height: 24px;
    }

    h2 {
        color: #fff;
    }

    h3 {
        color: rgb(76, 80, 88);
    }

    .status-table {
        width: auto !important;
        float: right;
        margin-top: 10px;
    }

        .status-table td {
            padding: 5px;
        }

    .es-table-outer {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    }
</style>
<div class="es-block-menu">
    <div class="es-dialog" style="left:550px;">
        @using (Html.BeginForm("ChangePercent", "Project", new { id = Model.ID }, FormMethod.Post, new { onsubmit= "ShowLoading()" }))
        {
            @Html.AntiForgerySID()
            <h3>修改百分比</h3>
            <p><input type="text" name="percent" class="textbox" /></p>
            <p><input type="submit" value="保存" class="button button-def" /></p>
        }
    </div>
    <a href="/Project/Show/@Model.ID" class="es-block-menu-active">项目信息</a>
    <a href="/Project/Bill/@Model.ID">支出</a>
    <a href="/Project/Log/@Model.ID">操作记录</a>
    @Url.LinkWithSID("删除项目", "Delete", "Project", new { id = Model.ID });
</div>
<div class="es-table-outer">
    <table>
        <tr>
            <td>
                <h2>@Model.Title</h2>
                <img src="/User/Avatar/@Model.UserID" class="es-user-icon" /><span class="es-user-name">@Model.User.Name (@Model.User.Username)</span>
            </td>
            <td>
                <table class="status-table">
                    <tr>
                        <td>状态</td>
                        <td>状况</td>
                        <td>计划完成</td>
                        <td>进度</td>
                    </tr>
                    <tr>
                        <td>
                            @if (Model.Status == ProjectStatus.Current)
                            {
                                <span class="label blue">当前</span>
                            }
                            else if (Model.Status == ProjectStatus.Completed)
                            {
                                <span class="label green">完成</span>
                            }
                            else if (Model.Status == ProjectStatus.Bidding)
                            {
                                <span class="label blue">竞标</span>
                            }
                            else
                            {
                                <span class="label red">废弃</span>
                            }
                        </td>
                        <td>
                            @if (Model.Status != ProjectStatus.Completed && DateTime.Now > Model.End)
                            {
                                <span class="label red">存在问题</span>
                            }
                            else
                            {
                                <span class="label blue">正常</span>
                            }
                        </td>
                        <td>@Model.End.ToString("yyyy-MM-dd")</td>
                        <td>
                            <div style="width:80px;border:1px solid #fff;height:20px;text-align:center;border-radius:20px;"><a style="color:#fff;position:relative;z-index:1" href="javascript:$('.es-dialog').addClass('show')">@(Model.Percent * 100)%</a><div style="width:@(Convert.ToInt32(Model.Percent * 100))%;background-color:green;position:relative;top:-20px;left:0;height: 18px;border-radius:18px;"></div></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="es-block">
    @using (Html.BeginForm("Edit", "Project",new { id = Model.ID }, FormMethod.Post, new { id = "frmEditProject" }))
    {
        @Html.AntiForgerySID()
        <table>
            <tr>
                <td>
                    <h3>基本信息</h3>
                    <p>项目名称<br /><input name="Title" type="text" class="textbox" placeholder="项目名称" value="@Model.Title" /></p>
                    <p>项目说明<br /><textarea name="Description" class="textbox">@Model.Description</textarea></p>
                    <p>计划开始时间<br /><input name="Begin" type="text" class="textbox" placeholder="计划开始时间" value="@Model.Begin" /></p>
                    <p>计划完成时间<br /><input name="End" type="text" class="textbox" placeholder="计划完成时间" value="@Model.End" /></p>
                    <p>
                        优先级
                        <br />
                        <select class="select" name="Priority">
                            <option value="0" @(Model.Priority == ProjectPriority.Normal ? " selected" : "")>正常</option>
                            <option value="1" @(Model.Priority == ProjectPriority.Medium ? " selected" : "")>中等</option>
                            <option value="2" @(Model.Priority == ProjectPriority.High ? " selected" : "")>高</option>
                        </select>
                    </p>
                    <p>
                        项目状态
                        <br />
                        <select class="select" name="Status">
                            <option value="Current" @(Model.Status == ProjectStatus.Current ? " selected" : "")>当前</option>
                            <option value="Completed" @(Model.Status == ProjectStatus.Completed ? " selected" : "")>完成</option>
                            <option value="Bidding" @(Model.Status == ProjectStatus.Bidding ? " selected" : "")>竞标</option>
                            <option value="Dumped" @(Model.Status == ProjectStatus.Dumped ? " selected" : "")>废弃</option>
                        </select>
                    </p>
                    <h3>客户信息</h3>
                    <input id="EnterpriseID" type="hidden" name="EnterpriseID" value="@Model.EnterpriseID" />
                    <p>客户名称<br /><input id="EnterpriseName" data-toggle="EnterpriseSelect" type="text" class="textbox" placeholder="客户名称或客户首字母" value="@(Model.EnterpriseID == null?"" : Model.Enterprise.Title)" /></p>
                    <div class="es-menu-extend" id="EnterpriseSelect">
                        <div id="lstEnterprises">
                            @if (ViewBag.Enterprises.Count == 0)
                            {
                                <small>您还没有添加任何客户</small>
                                <hr />
                            }
                            else
                            {
                                foreach (EnterpriseListViewModel e in ViewBag.Enterprises)
                                {
                                    <img src="/Enterprise/Icon/@e.ID" class="es-icon-small" /><a href="javascript:$('#EnterpriseID').val(@e.ID);" data-content="@e.Title">@e.Title</a><hr />
                                }
                            }
                        </div>
                    </div>
                    <input type="hidden" name="CustomerID" id="CustomerID" value="@Model.CustomerID" />
                    <p>客户联系人<br /><input id="CustomerName" data-toggle="CustomerSelect" type="text" class="textbox" placeholder="客户联系人" value="@(Model.CustomerID == null?"" : Model.Customer.Name)" disabled /></p>
                    <div class="es-menu-extend" id="CustomerSelect">
                        <small>搜索联系人</small>
                    </div>
                </td>
                <td>
                    <h3>扩展信息</h3>
                    <p>
                        订单状态
                        <br />
                        <select class="select" status="Ordering">
                            <option value="true" @(Model.Ordering ? " selected" : "")>有订单</option>
                            <option value="true" @(!Model.Ordering ? " selected" : "")>无订单</option>
                        </select>
                    </p>
                    <p>
                        项目类别
                        <br />
                        <select class="select" name="CategoryID" id="lstCategoryID">
                            <option>未指定类别</option>
                            @foreach (CategoryModel c in ViewBag.Categories)
                            {
                                <option value="@c.ID" @(Model.ProductID.HasValue && c.ID == Model.ProductID ? " selected" : "")>@c.Title</option>
                            }
                        </select>
                        <br />
                    </p>
                    <p>
                        产品名称
                        <br />
                        <select class="select" name="ProductID" id="lstProductID">
                            <option>未指定产品</option>
                        </select>
                    </p>
                    <p>签订日期<br /><input type="text" name="SignTime" class="textbox" placeholder="签订日期" value="@Model.SignTime" /></p>
                    <p>
                        所在地区
                        <br />
                        <select class="select" name="ZoneID">
                            <option>未指定地区</option>
                            @foreach (ZoneModel z in ViewBag.Zones)
                            {
                                <option value="@z.ID">@z.Title</option>
                            }
                        </select>
                        <br />
                    </p>
                </td>
                @if (ViewBag.CurrentUser.Role >= UserRole.Finance)
                {
                    <td>
                        <h3>财务信息</h3>
                        <p>项目金额<br /><input name="Charge" type="text" class="textbox" placeholder="项目金额" value="@Model.Charge" /></p>
                        <p>税金<br /><strong>￥@Model.Tax.ToString("0.00")</strong></p>
                        <p>销售佣金<br /><strong>￥@Model.SellingCommisson.ToString("0.00")</strong></p>
                        <p>项目部奖金<br /><strong>￥@Model.Award.ToString("0.00")</strong></p>
                        <p>项目利润<br /><strong>￥@Model.Profit.ToString("0.00")</strong></p>
                        <p>项目毛利率%<br /><strong>@((Model.ProfitRatio * 100).ToString("0.00"))%</strong></p>
                    </td>
                }
                <td>
                    <h3>发票信息</h3>
                    <p>发票金额<br /><input name="InvoicePrice" type="text" class="textbox" placeholder="发票金额" value="@Model.InvoicePrice" /></p>
                    <p>开票日期<br /><input type="text" name="InvoiceTime" class="textbox" placeholder="开票日期" value="@Model.InvoiceTime" /></p>
                    <p>发票号<br /><input name="InvoiceSN" type="text" class="textbox" placeholder="发票号" value="@Model.InvoiceSN" /></p>
                    <p>备注<br /><textarea name="Hint" class="textbox" placeholder="备注">@Model.Hint</textarea></p>
                    <p>收款日期<br /><input type="text" name="ChargeTime" class="textbox" placeholder="收款日期" value="@Model.ChargeTime" /></p>
                    <p>
                        交易类型
                        <br />
                        <select class="select" name="PayMethod">
                            <option value="Unpaid" @(Model.PayMethod == PayMethod.Unpaid ? " selected" : "")>未确定</option>
                            <option value="Cash" @(Model.PayMethod == PayMethod.Cash ? " selected" : "")>现金</option>
                            <option value="Transfer" @(Model.PayMethod == PayMethod.Transfer ? " selected" : "")>转账</option>
                        </select>
                    </p>
                    <p>实收金额<br /><input name="ActualPayments" type="text" class="textbox" placeholder="实收金额" value="@Model.ActualPayments" /></p>
                </td>
            </tr>
        </table>
    }
    @if (ViewBag.CurrentUser.Role != UserRole.Finance)
    {
        <div class="es-block-menu">
            <p style="text-align:center"><a href="javascript:ShowLoading();$('#frmEditProject').submit();">保存全部信息</a></p>
        </div>
        <script>
            $("input[name='Begin']").datetimepicker();
            $("input[name='End']").datetimepicker();
            $("input[name='InvoiceTime']").datetimepicker();
            $("input[name='SignTime']").datetimepicker();
            $("#EnterpriseName").blur(function () {
                if ($("#EnterpriseID").val() == null || $("#EnterpriseID").val() == "") {
                    $("#CustomerName").attr("disabled", "disabled");
                    $("#CustomerName").val("");
                    $("#CustomerID").val(null);
                }
                else
                    $("#CustomerName").removeAttr("disabled");
            });
            $("#EnterpriseName").keyup(function () {
                $("#CustomerName").attr("disabled", "disabled");
                $("#CustomerName").val("");
                $("#CustomerID").val(null);
                if ($("#EnterpriseName").val() == "") return;
                $("#lstEnterprises").html("<img src='/Images/loading_small.gif' class='es-icon-small'>加载中...<hr />");
                $.getJSON("/Enterprise/Search", { Text: $("#EnterpriseName").val() }, function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#lstEnterprises").append('<img src="/Enterprise/Icon/' + data[i].ID + '" class="es-icon-small" /><a href="javascript:$(\'#EnterpriseID\').val(' + data[i].ID + ');" data-content="' + data[i].Title + '">' + data[i].Title + '</a><hr />');
                    }
                    if (data.length == 0) {
                        $("#lstEnterprises").html("<small>没有找到匹配的企业</small><hr />");
                    }
                    $("[data-content]").unbind().click(function () {
                        $("[data-toggle='" + CurrentNotification + "']").val($(this).attr("data-content"));
                        $("#" + CurrentNotification).slideUp(200);
                        CurrentNotification = null;
                    });
                });
            });

            $("#CustomerName").keyup(function(){
                var enterprise_id = $("#EnterpriseID").val();
                $("#CustomerSelect").html("<img src='/Images/loading_small.gif' class='es-icon-small'>加载中...<hr />");
                $.getJSON("/Enterprise/Customers/"+enterprise_id,{Text:$("#CustomerName").val()},function(c){
                    $("#CustomerSelect").html("");
                    for(var i =0 ;i<c.length;i++)
                    {
                        $("#CustomerSelect").append('<a href="javascript:$(\'#CustomerID\').val('+c[i].ID+');" data-content=\''+c[i].Name+'\'>'+c[i].Name+'</a>');
                    }
                    if (c.length == 0) {
                        $("#lstEnterprises").html("<small>没有找到匹配的企业</small><hr />");
                    }
                    $("[data-content]").unbind().click(function () {
                        $("[data-toggle='" + CurrentNotification + "']").val($(this).attr("data-content"));
                        $("#" + CurrentNotification).slideUp(200);
                        CurrentNotification = null;
                    });
                });
            });

            var ProductID = @(Model.ProductID.HasValue?Model.ProductID.ToString() :"null");

            function RefreshProductList()
            {
                var cid = $("#lstCategoryID").val();
                $.getJSON("/Project/GetProducts/" + cid, {}, function (products) {
                    $("#lstProductID").html("");
                    for (var i = 0; i < products.length; i++) {
                        $("#lstProductID").append('<option value=\"' + products[i].ID + '\">' + products[i].Title + '</option>');
                    }
                })
            }

            RefreshProductList();
            $("#lstProductID").val(ProductID);

            $("#lstCategoryID").change(function () {
                RefreshProductList();
            });
        </script>
    }
    else
    {
        <script>
            $(".es-block input[type='text']").attr("disabled", "disabled");
            $(".es-block input[type='select']").attr("disabled", "disabled");
            $(".es-block textarea").attr("disabled", "disabled");
        </script>
    }
</div>
