@model IEnumerable<StatisticsModel>
@{
    ViewBag.Title = "我的报表";
}
<style>
    .es-menu-extend table {
        line-height: 36px;
    }

    td a, td a:hover, td a:active, td a:visited {
        color: #fff;
    }
</style>
<div class="es-block-menu">
    @if (ViewBag.CurrentUser.Role == UserRole.Root)
    {
        <a href="#" data-toggle="CreateStatistics">定制报表</a>
        <div class="es-menu-extend" id="CreateStatistics">
            @using (Html.BeginForm("Create", "Statistics", null, FormMethod.Post, new { id = "frmCreateStatistics" }))
            {
                @Html.AntiForgerySID()
                <table>
                    <tr>
                        <td>名称</td>
                        <td><input name="Title" type="text" class="textbox" placeholder="报表名称" /></td>
                    </tr>
                    <tr>
                        <td>签订日期开始</td>
                        <td><input name="Begin" type="text" class="textbox" placeholder="不填代表不限制该字段" /></td>
                        <td>签订日期结束</td>
                        <td><input name="End" type="text" class="textbox" placeholder="不填代表不限制该字段" /></td>
                    </tr>
                    <tr>
                        <td>所有者</td>
                        <td>
                            <select name="UserID" class="select">
                                <option>不限制</option>
                                @foreach (UserModel u in ViewBag.Users)
                                {
                                    <option value="@u.ID">@u.Name (@u.Username)</option>
                                }
                            </select>
                        </td>
                        <td>状态</td>
                        <td>
                            <select id="lstStatus" class="select span-width">
                                <option>不限</option>
                                <option value="0">当前</option>
                                <option value="1">完成</option>
                                <option value="2">竞标</option>
                                <option value="3">废弃</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>查看权限</td>
                        <td>
                            <select class="select" name="PushTo">
                                <option>所有人</option>
                                <option value="Master">部门主任</option>
                                <option value="Finance">财务专员</option>
                            </select>
                        </td>
                        <td>说明</td>
                        <td><input type="text" class="textbox" name="Hint" /></td>
                    </tr>
                </table>
            }
            <p style="text-align: center"><a href="javascript:;" id="btnAddStatistics">定制报表</a> <a href="javascript:CloseToggle();">关闭</a></p>
        </div>
    }
</div>

<div class="es-table-outer">
    <table class="table">
        <thead>
            <tr>
                <th>名称</th>
                <th>说明</th>
                <th>共享对象</th>
                <th>日期</th>
                @if (ViewBag.CurrentUser.Role == UserRole.Root)
                {
                    <th>操作</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr id="@s.ID">
                    <td><a href="/Statistics/Show/@s.ID">@s.Title</a></td>
                    <td>@s.Hint</td>
                    <td>@s.PushToDisplay</td>
                    <td>@s.Time.ToString("yyyy-MM-dd")</td>
                    @if (ViewBag.CurrentUser.Role == UserRole.Root)
                    {
                        <td><a href="javascript:DeleteStatistics('@s.ID')">删除</a></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $("#btnAddStatistics").click(function () {
        ShowLoading();
        $("#frmCreateStatistics").submit();
    });
    function DeleteStatistics(id)
    {
        ShowLoading();
        $.post("/Statistics/Delete/" + id, {
            sid: '@ViewBag.SID'
        }, function () {
            $("#" + id).slideUp(200);
            HideLoading();
        });
    }
    $("input[name='Begin']").datetimepicker();
    $("input[name='End']").datetimepicker();
</script>