@model IEnumerable<UserModel>
@{
    ViewBag.Title = "员工管理";
}
<style>
    .es-block-menu table {
        line-height: 36px;
    }

    td a, td a:hover, td a:active, td a:visited {
        color: #fff;
    }
</style>
<div class="es-block-menu">
    <div class="es-dialog" style="left: 400px">
        <h2>编辑员工</h2>
        @using (Html.BeginForm("Edit", "Employee", null, FormMethod.Post, new { id = "frmEditEmployee" }))
        {
        @Html.AntiForgerySID()
        <input type="hidden" id="CurrentID" name="id" />
        <table>
            <tr>
                <td>用户名</td>
                <td id="lbUsername"></td>
                <td>真实姓名</td>
                <td><input type="text" id="txtName" name="Name" class="textbox" placeholder="真实姓名" /></td>
            </tr>
            <tr>
                <td>密码</td>
                <td><input type="password" id="txtPassword" name="Password" class="textbox" placeholder="不修改请留空" /></td>
                <td>角色</td>
                <td>
                    <select name="Role" class="select" id="lstRole">
                        <option value="0">员工</option>
                        <option value="1">部门主任</option>
                        <option value="2">财务专员</option>
                        <option value="3">系统管理员</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>所属部门</td>
                <td>
                    <select id="lstDepartment" class="select" name="DepartmentID">
                        <option>未指定</option>
                        @foreach (DepartmentModel d in ViewBag.Departments)
                            {
                            <option value="@d.ID">@d.Title</option>
                            }
                    </select>
                </td>
                <td>电子邮箱</td>
                <td><input type="text" class="textbox" name="Email" id="txtEmail" /></td>
            </tr>
        </table>
        }
        <p style="text-align: center"><a href="#" id="btnSaveEmployee">保存员工信息</a></p>
    </div>
    <a href="javascript:;" data-toggle="CreateEmployee">添加员工</a>
    <div id="CreateEmployee" class="es-menu-extend">
        @using (Html.BeginForm("Create", "Employee", null, FormMethod.Post, new { id = "frmCreateEmployee" }))
        {
            @Html.AntiForgerySID()
            <table>
                <tr>
                    <td>用户名</td>
                    <td><input type="text" name="Username" class="textbox" placeholder="用户名" /></td>
                    <td>真实姓名</td>
                    <td><input type="text" name="Name" class="textbox" placeholder="真实姓名" /></td>
                </tr>
                <tr>
                    <td>密码</td>
                    <td><input type="password" name="Password" class="textbox" placeholder="密码" /></td>
                    <td>角色</td>
                    <td>
                        <select name="Role" class="select">
                            <option value="Employee">员工</option>
                            <option value="Master">部门主任</option>
                            <option value="Finance">财务专员</option>
                            <option value="Root">系统管理员</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>所属部门</td>
                    <td>
                        <select class="select" name="DepartmentID">
                            <option>未指定</option>
                            @foreach (DepartmentModel d in ViewBag.Departments)
                            {
                                <option value="@d.ID">@d.Title</option>
                            }
                        </select>
                    </td>
                    <td>电子邮箱</td>
                    <td><input type="text" class="textbox" name="Email" id="txtEmail" placeholder="电子邮箱" /></td>
                </tr>
            </table>
        }
        <p style="text-align: center"><a href="javascript:;" id="btnAddEmployee">添加员工</a> <a href="javascript:CloseToggle();">关闭</a></p>
    </div>
</div>
<div class="es-table-outer">
    <table class="table">
        <thead>
            <tr>
                <th>员工ID</th>
                <th>用户名</th>
                <th>真实姓名</th>
                <th>角色</th>
                <th>电子邮箱</th>
                <th>部门</th>
                <th>项目数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr id="user_@u.ID">
                    <td>@u.ID</td>
                    <td>@u.Username</td>
                    <td>@u.Name</td>
                    <td>@u.Role.ToString()</td>
                    <td>@u.Email</td>
                    <td>@(u.DepartmentID == null ? "未指定" : u.Department.Title)</td>
                    <td>@u.Projects.Count</td>
                    <td>
                        <a href="/Report/Day/@u.ID">查看工作报告</a>
                        <a href="javascript:EditUser(@u.ID)">编辑</a>
                        <a href="javascript:DeleteUser(@u.ID)">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function DeleteUser(id) {
        ShowLoading();
        $.post("/Employee/Delete/" + id, { sid: '@ViewBag.SID' }, function () {
            $("#user_" + id).slideUp(200);
            HideLoading();
        });
    }

    function EditUser(id) {
        ShowLoading();
        $.getJSON("/Employee/Detail/" + id, {}, function (user) {
            $("#CurrentID").val(id);
            $("#lbUsername").html(user.Username);
            $("#txtName").val(user.Name);
            $("#txtPassword").val("");
            $("#lstRole").val(user.Role);
            $("#lstDepartmentID").val(user.DepartmentID);
            $("#txtEmail").val(user.Email);
            $(".es-dialog").addClass("show");
            HideLoading();
        });
    }

    $("#btnSaveEmployee").click(function () {
        ShowLoading();
        $("#frmEditEmployee").submit();
    });

    $("#btnAddEmployee").click(function () {
        ShowLoading();
        $("#frmCreateEmployee").submit();
    });
</script>