<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title - Easy Sense 项目管理系统</title>
    <link rel="stylesheet" href="/Styles/es_main.css" />
    <link rel="stylesheet" href="/Styles/datetimepicker.css" />
    <link rel="stylesheet" href="/Styles/fullcalendar.css" />
    <script type="text/javascript" src="/Scripts/jquery.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.jqchart.min.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/ckeditor.js"></script>
</head>
<body>
    <div class="es-header">
        <div class="container">
            <div class="es-logo">
                <img src="/Images/logo.png" class="es-logo-img" onclick="CloseToggle()" />
            </div>
            <div class="es-nav">
                <div class="es-nav-item">
                    <a href="#" data-toggle="ProjectNotification">
                        <img src="/Images/project.png" />
                        <div class="es-nav-item-text">项目</div>
                        <span class="label red left">@ViewBag.ProjectNotifications.Count</span>
                    </a>
                    <div class="es-notification" id="ProjectNotification">
                        @foreach (NotificationViewModel n in ViewBag.ProjectNotifications)
                        {
                            <span><a href="/Project/Show/@n.ID">@n.Title</a> (存在问题)</span>
                            <hr />
                        }
                        共@(ViewBag.ProjectNotifications.Count)个提醒
                    </div>
                </div>
                <div class="es-nav-item">
                    <a href="#" data-toggle="AlarmNotification">
                        <img src="/Images/schedule.png" />
                        <div class="es-nav-item-text">日程</div>
                        <span class="label red left">@ViewBag.AlarmNotifications.Count</span>
                    </a>
                    <div class="es-notification" id="AlarmNotification">
                        @foreach (NotificationViewModel n in ViewBag.AlarmNotifications)
                        {
                            <span>@n.Title (@Html.ToTimeTip((DateTime)n.Time))</span>
                            <hr />
                        }
                        共@(ViewBag.AlarmNotifications.Count)个提醒
                    </div>
                </div>
                <div class="es-nav-item">
                    <a href="#" data-toggle="FinanceNotification">
                        <img src="/Images/finance.png" />
                        <div class="es-nav-item-text">财龄</div>
                        <span class="label red left">@ViewBag.FinanceNotifications.Count</span>
                    </a>
                    <div class="es-notification" id="FinanceNotification">
                        @foreach (NotificationViewModel n in ViewBag.FinanceNotifications)
                        {
                            <span>@n.Title (@n.Time)</span>
                            <hr />
                        }
                        共@(ViewBag.FinanceNotifications.Count)个提醒
                    </div>
                </div>
                <div class="es-nav-item">
                    <a href="#" data-toggle="BirthdayNotification">
                        <img src="/Images/birthday.png" />
                        <div class="es-nav-item-text">生日</div>
                        <span class="label red left">@ViewBag.BirthdayNotifications.Count</span>
                    </a>
                    <div class="es-notification" id="BirthdayNotification">
                        @foreach (NotificationViewModel n in ViewBag.BirthdayNotifications)
                        {
                            <span>@n.Title (今天)</span>
                            <hr />
                        }
                        共@(ViewBag.BirthdayNotifications.Count)个提醒
                    </div>
                </div>
            </div>
            <div class="es-header-user">
                <img src="/User/Avatar/@ViewBag.CurrentUser.ID" class="es-header-user-icon" /><span class="es-header-user-name">@ViewBag.CurrentUser.Name</span>@Url.LinkWithSID("注销", "Logout", "Shared", null, new { @class = "label red es-header-logout" })
            </div>
        </div>
        <div class="es-nav-item es-header-search">
            <input type="text" class="search" id="txtSearchAll" placeholder="万能搜索" style="width: 90px" />
            <a href="javascript:void(0)" id="btnAllSearch" data-toggle="SearchResult"><img src="/Images/search.png" /></a>
            <div class="es-notification" id="SearchResult">
                @*<p class="es-notification-subtitle">项目(2)</p>
                <p><a href="#">Easy Sense</a></p>
                <p><a href="#">Tyvj</a></p>
                <p class="es-notification-subtitle">客户(2)</p>
                <p><a href="#">AAA</a></p>
                <p><a href="#">BBB</a></p>
                <p class="es-notification-subtitle">员工 (2)</p>
                <p><img src="/Images/avatar.png" /> Amamiya Yuuko</p>
                <p><img src="/Images/avatar.png" /> Gasai Yuno</p>*@
            </div>
        </div>
    </div>
    <div class="container">
        <div class="es-left">
            <div class="es-menu-item@(ViewContext.RouteData.Values["controller"].ToString()=="Home"?" active" :"")"><a href="/">首页</a></div>
            <div class="es-menu-item@(ViewContext.RouteData.Values["controller"].ToString()=="Project"?" active" :"")"><a href="/Project">项目管理</a></div>
            <div class="es-menu-item@(ViewContext.RouteData.Values["controller"].ToString()== "Enterprise" ? " active" :"")"><a href="/Enterprise">客户管理</a></div>
            <div class="es-menu-item@(ViewContext.RouteData.Values["controller"].ToString()== "Alarm" ? " active" :"")"><a href="/Alarm">提醒事项</a></div>
            <div class="es-menu-item@(ViewContext.RouteData.Values["controller"].ToString()== "Report" ? " active" :"")"><a href="/Report">工作计划</a></div>
            <div class="es-menu-item@(ViewContext.RouteData.Values["controller"].ToString()== "File" ? " active" :"")"><a href="/File">文件资料</a></div>
            <div class="es-menu-item@(ViewContext.RouteData.Values["controller"].ToString()=="Statistics"?" active" :"")"><a href="/Statistics">我的报表</a></div>
            @if (ViewBag.CurrentUser.Role == UserRole.Root)
            {
                <div class="es-menu-item@(ViewContext.RouteData.Values["controller"].ToString()== "Employee" ? " active" :"")"><a href="/Employee">员工管理</a></div>
                <div class="es-menu-item@(ViewContext.RouteData.Values["controller"].ToString()== "System" ? " active" :"")"><a href="/System">系统设置</a></div>
            }
            <div class="es-menu-item@(ViewContext.RouteData.Values["controller"].ToString()=="User"?" active" :"")"><a href="/User">个人设置</a></div>
        </div>
        <div class="es-right">
            @RenderBody()
        </div>
    </div>
    <div class="es-footer">
        Copyright © 2015 Code Comb Inc. All rights reserved.
    </div>
    <script type="text/javascript" src="/Scripts/easysense.basic.js"></script>
    <script type="text/javascript" src="/Scripts/easysense.extend.js"></script>
</body>
</html>