@model EnterpriseModel
@{
    ViewBag.Title = "客户资料";
}
<style>
    .es-table-outer {
        padding: 20px;
    }

        .es-table-outer td {
            vertical-align: top;
        }

    td h3 {
        color: #fff;
        margin: 0;
        padding: 0;
    }

    .es-menu-extend table, .es-dialog table {
        line-height: 36px !important;
    }
</style>
<div class="es-block-menu">
    <div class="es-dialog" style="width:600px;">
        <h2>编辑联系人</h2>
        @using (Html.BeginForm("EditCustomer", "Enterprise", null, FormMethod.Post, new { id = "frmEditCustomer" }))
        {
            @Html.AntiForgerySID()
            <input type="hidden" name="id" id="CurrentID" />
            <table style="width:100%">
                <tr>
                    <td>产品类别</td>
                    <td><input id="ProductCategory" name="ProductCategory" type="text" class="textbox" placeholder="产品类别" /></td>
                    <td>产品名称</td>
                    <td><input id="ProductName" name="ProductName" type="text" class="textbox full-width" placeholder="产品名称" /></td>
                </tr>
                <tr>
                    <td>部门</td>
                    <td><input id="DepartmentName" name="DepartmentName" type="text" class="textbox" placeholder="部门" /></td>
                    <td>办公邮箱</td>
                    <td><input id="OfficeEmail" name="OfficeEmail" type="text" class="textbox full-width" placeholder="办公邮箱" /></td>
                </tr>
                <tr>
                    <td>姓名</td>
                    <td><input id="Name" name="Name" type="text" class="textbox" placeholder="姓名" /></td>
                    <td>性别</td>
                    <td>
                        <select class="select" id="Sex" name="Sex">
                            <option value="0">男</option>
                            <option value="1">女</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>职位</td>
                    <td><input id="Position" name="Position" type="text" class="textbox" placeholder="职位" /></td>
                    <td>电话</td>
                    <td><input id="Tel" name="Tel" type="text" class="textbox full-width" placeholder="电话" /></td>
                </tr>
                <tr>
                    <td>手机号</td>
                    <td><input id="Phone" name="Phone" type="text" class="textbox" placeholder="手机号" /></td>
                    <td>邮箱</td>
                    <td><input id="Email" name="Email" type="text" class="textbox full-width" placeholder="电话" /></td>
                </tr>
                <tr>
                    <td>传真</td>
                    <td><input id="Fax" name="Fax" type="text" class="textbox" placeholder="传真" /></td>
                </tr>
                <tr>
                    <td>QQ</td>
                    <td><input id="QQ" name="QQ" type="text" class="textbox" placeholder="QQ" /></td>
                    <td>微信号</td>
                    <td><input id="Wechat" name="WeChat" type="text" class="textbox full-width" placeholder="微信号" /></td>
                </tr>
                <tr>
                    <td>出生日期</td>
                    <td><input id="Birthday" name="Birthday" type="text" class="textbox" placeholder="出生日期" /></td>
                    <td>备注</td>
                    <td><input id="Hint" name="Hint" type="text" class="textbox full-width" placeholder="备注" /></td>
                </tr>
            </table>
            <p style="text-align:center">
                <a href="javascript:void(0);" id="btnSaveCustomer">保存修改</a> 
                <a id="btnDeleteCustomer">删除该联系人</a>&nbsp;<a href='javascript:;' onclick='$(".es-dialog").removeClass("show");'>关闭</a>
            </p>
        }
    </div>
    <a href="#" data-toggle="EditEnterprise">编辑</a>
    <div class="es-menu-extend" id="EditEnterprise">
        @using (Html.BeginForm("Edit", "Enterprise", new { id = Model.ID }, FormMethod.Post, new { id = "frmEditEnterprise", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgerySID()
            <table style="width:600px">
                <tr>
                    <td>企业名称</td>
                    <td><input name="Title" value="@Model.Title" type="text" class="textbox" placeholder="企业名称" /></td>
                    <td>企业类型</td>
                    <td><input name="Type" value="@Model.Type" type="text" class="textbox full-width" placeholder="企业类型" /></td>
                </tr>
                <tr>
                    <td>企业等级</td>
                    <td>
                        <select name="Level" class="select">
                            <option value="A" @(Model.Level == EnterpriseLevel.A ? " selected" : "")>A</option>
                            <option value="B" @(Model.Level == EnterpriseLevel.B ? " selected" : "")>B</option>
                            <option value="C@(Model.Level == EnterpriseLevel.C ? " selected" : "")">C</option>
                            <option value="D" @(Model.Level == EnterpriseLevel.D ? " selected" : "")>D</option>
                        </select>
                    </td>
                    <td>品牌</td>
                    <td><input name="Brand" value="@Model.Brand" type="text" class="textbox full-width" placeholder="销售额" /></td>
                </tr>
                <tr>
                    <td>规模</td>
                    <td><input name="Scale" value="@Model.Scale" type="text" class="textbox" placeholder="企业名称" /></td>
                    <td>销售额</td>
                    <td><input name="SalesVolume" value="@Model.SalesVolume" type="text" class="textbox full-width" placeholder="销售额" /></td>
                </tr>
                <tr>
                    <td>联系电话</td>
                    <td><input name="Phone" value="@Model.Phone" type="text" class="textbox" placeholder="联系电话" /></td>
                    <td>传真</td>
                    <td><input name="Fax" value="@Model.Fax" type="text" class="textbox full-width" placeholder="传真" /></td>
                </tr>
                <tr>
                    <td>通信地址</td>
                    <td><input name="Address" type="text" value="@Model.Address" class="textbox" placeholder="通信地址" /></td>
                    <td>邮政编码</td>
                    <td><input name="Zip" value="@Model.Zip" type="text" class="textbox full-width" placeholder="邮政编码" /></td>
                </tr>
                <tr>
                    <td>企业网址</td>
                    <td colspan="3"><input name="Website" value="@Model.Website" type="text" class="textbox full-width" placeholder="http://" /></td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td colspan="3"><input name="Hint" type="text" value="@Model.Hint" class="textbox full-width" placeholder="备注" /></td>
                </tr>
                <tr>
                    <td>企业徽标</td>
                    <td colspan="3"><input type="file" name="Icon" /> (.png/.gif/.bmp/.jpg)</td>
                </tr>
            </table>
        }
        <p style="text-align:center"><a href="javascript:void(0);" id="btnSaveEnterprise">保存修改</a> <a href="javascript:CloseToggle();">关闭</a></p>
    </div>
    <a href="#" data-toggle="AddCustomer">添加联系人</a>
    <div class="es-menu-extend" id="AddCustomer">
        <table style="width:600px">
            <tr>
                <td>产品类别</td>
                <td><input id="txtProductCategory" type="text" class="textbox" placeholder="产品类别" /></td>
                <td>产品名称</td>
                <td><input id="txtProductName" type="text" class="textbox full-width" placeholder="产品名称" /></td>
            </tr>
            <tr>
                <td>部门</td>
                <td><input id="txtDepartmentName" type="text" class="textbox" placeholder="部门" /></td>
                <td>办公邮箱</td>
                <td><input id="txtOfficeEmail" type="text" class="textbox full-width" placeholder="办公邮箱" /></td>
            </tr>
            <tr>
                <td>姓名</td>
                <td><input id="txtName" type="text" class="textbox" placeholder="姓名" /></td>
                <td>性别</td>
                <td>
                    <select class="select" id="lstSex">
                        <option value="Male">男</option>
                        <option value="Female">女</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>职位</td>
                <td><input id="txtPosition" type="text" class="textbox" placeholder="职位" /></td>
                <td>电话</td>
                <td><input id="txtTel" type="text" class="textbox full-width" placeholder="电话" /></td>
            </tr>
            <tr>
                <td>手机号</td>
                <td><input id="txtPhone" type="text" class="textbox" placeholder="手机号" /></td>
                <td>邮箱</td>
                <td><input id="txtEmail" type="text" class="textbox full-width" placeholder="Email" /></td>
            </tr>
            <tr>
                <td>传真</td>
                <td><input id="txtFax" type="text" class="textbox" placeholder="传真" /></td>
            </tr>
            <tr>
                <td>QQ</td>
                <td><input id="txtQQ" type="text" class="textbox" placeholder="QQ" /></td>
                <td>微信号</td>
                <td><input id="txtWechat" type="text" class="textbox full-width" placeholder="微信号" /></td>
            </tr>
            <tr>
                <td>出生日期</td>
                <td><input id="txtBirthday" type="text" class="textbox" placeholder="出生日期" /></td>
                <td>备注</td>
                <td><input id="txtHint" type="text" class="textbox full-width" placeholder="备注" /></td>
            </tr>
        </table>
        <p style="text-align:center"><a href="javascript:void(0);" id="btnAddCustomer">添加联系人</a> <a href="javascript:CloseToggle();">关闭</a></p>
    </div>
    <a href="#" data-toggle="ExportMenu">导出名录</a>
    <div class="es-menu-extend" id="ExportMenu">
        <table>
            <tr>
                <td style="width:180px">
                    <p style="text-align:center"><img style="width:120px;height:120px;" src="~/Images/excel.png" /></p>
                    <p style="text-align:center"><a href="/Enterprise/ExportExcel/@Model.ID" onclick="CloseToggle()">导出到Excel</a></p>
                </td>
                <td style="width:180px">
                    <p style="text-align:center"><img style="width:120px;height:120px;" src="~/Images/pdf.png" /></p>
                    <p style="text-align:center"><a href="/Enterprise/ExportPDF/@Model.ID" onclick="CloseToggle()">导出到PDF</a></p>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="es-table-outer">
    <table>
        <tr>
            <td style="width: 200px;">
                <img src="/Enterprise/Icon/@Model.ID" class="es-icon-large" />
            </td>
            <td>
                <h3>@Model.Title</h3>
                <p>
                    地址: @Model.Address / 邮编: @Model.Zip
                    <br />
                    电话: @Model.Phone / 传真: @Model.Fax / 网址: @Model.Website
                    <br />
                    企业性质: @Model.Property / 企业类型: @Model.Type / 企业规模: @Model.Scale / 销售额: @Model.SalesVolume
                </p>
                <p>备注: @Model.Hint</p>
            </td>
        </tr>
    </table>
</div>

<table class="table">
    <thead>
        <tr>
            <th data-col="DepartmentName">部门</th>
            <th data-col="ProductCategory">产品类别</th>
            <th data-col="ProductName">产品名称</th>
            <th data-col="Name">联系人</th>
            <th data-col="Sex">性别</th>
            <th data-col="Position">职位</th>
            <th data-col="Tel">电话</th>
            <th data-col="Fax">传真</th>
            <th data-col="Phone">手机</th>
            <th data-col="OfficeEmail">办公邮箱</th>
            <th data-col="Email">私人邮箱</th>
            <th data-col="QQ">QQ</th>
            <th data-col="WeChat">微信</th>
            <th data-col="Birthday">生日</th>
            <th data-col="Hint">备注</th>
            <th>相关项目</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody id="lstCustomers" enterpriseid="@Model.ID">
        @foreach (var c in Model.Customers)
        {
            <tr ondblclick="EditCustomer(@c.ID)">
                <td>@c.DepartmentName</td>
                <td>@c.ProductCategory</td>
                <td>@c.ProductName</td>
                <td>@c.Name</td>
                <td>@(c.Sex == Sex.Male ? "男" : "女")</td>
                <td>@c.Position</td>
                <td>@c.Tel</td>
                <td>@c.Fax</td>
                <td>@c.Phone</td>
                <td>@c.OfficeEmail</td>
                <td>@c.Email</td>
                <td>@c.QQ</td>
                <td>@c.WeChat</td>
                <td>@c.Birthday.ToString("MM月dd日")</td>
                <td>@c.Hint</td>
                <td>
                    @foreach (var p in c.Projects)
                    {
                        <p><a target="_blank" href="/Project/Show/@p.ID" onclick="setTimeout(function () { $('.es-dialog').removeClass('show') }, 1000)">@p.Title</a></p>
                    }
                    @if (c.Projects.Count == 0)
                    {
                        <p>无</p>
                    }
                </td>
                <td>
                    <a href="javascript:EditCustomer(@c.ID)">编辑</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script>
    $("#txtBirthday").datetimepicker();
    $("#btnSaveEnterprise").click(function () {
        ShowLoading();
        $("#frmEditEnterprise").submit();
    });
    $("#btnAddCustomer").click(function () {
        if ($("#txtName").val() == "") {
            alert("联系人姓名不能为空");
            return;
        }
        if ($("#txtPosition").val() == "") {
            alert("联系人职位不能为空");
            return;
        }
        if ($("#txtTel").val() == "") {
            alert("联系人固定电话不能为空");
            return;
        }
        if ($("#txtPhone").val() == "") {
            alert("联系人手机不能为空");
            return;
        }
        if ($("#txtFax").val() == "") {
            alert("联系人传真不能为空");
            return;
        }
        if ($("#txtEmail").val() == "") {
            alert("联系人电子邮箱不能为空");
            return;
        }
        if ($("#txtQQ").val() == "") {
            alert("联系人QQ不能为空");
            return;
        }
        if ($("#txtWechat").val() == "") {
            alert("联系人微信号不能为空");
            return;
        }
        if ($("#txtBirthday").val() == "") {
            alert("联系人生日不能为空");
            return;
        }
        if ($("#txtHint").val() == "") {
            alert("联系人备注不能为空");
            return;
        }
        ShowLoading();
        $.post("/Enterprise/CreateCustomer/@Model.ID", {
            DepartmentName: $("#txtDepartmentName").val(),
            ProductCategory: $("#txtProductCategory").val(),
            ProductName: $("#txtProductName").val(),
            OfficeEmail: $("#txtOfficeEmail").val(),
            Name: $("#txtName").val(),
            Sex: $("#lstSex").val(),
            Position: $("#txtPosition").val(),
            Tel: $("#txtTel").val(),
            Phone: $("#txtPhone").val(),
            Fax: $("#txtFax").val(),
            Email: $("#txtEmail").val(),
            QQ: $("#txtQQ").val(),
            WeChat: $("#txtWechat").val(),
            Birthday: $("#txtBirthday").val(),
            Hint: $("#txtHint").val(),
            sid: "@ViewBag.SID"
        }, function (id) {
            var html = '<tr ondblclick="EditCustomer(' + id + ')">';
            html += '<td>' + $("#txtDepartmentName").val() + '</td>';
            html += '<td>' + $("#txtProductCategory").val() + '</td>';
            html += '<td>' + $("#txtProductName").val() + '</td>';
            html += '<td>' + $("#txtName").val() + '</td>';
            html += '<td>' + ($("#lstSex").val() == "Male" ? "男" : "女") + '</td>';
            html += '<td>' + $("#txtPosition").val() + '</td>';
            html += '<td>' + $("#txtTel").val() + '</td>';
            html += '<td>' + $("#txtFax").val() + '</td>';
            html += '<td>' + $("#txtPhone").val() + '</td>';
            html += '<td>' + $("#txtOfficeEmail").val() + '</td>';
            html += '<td>' + $("#txtEmail").val() + '</td>';
            html += '<td>' + $("#txtQQ").val() + '</td>';
            html += '<td>' + $("#txtWechat").val() + '</td>';
            html += '<td>' + $("#txtBirthday").val() + '</td>';
            html += '<td>' + $("#txtHint").val() + '</td>';
            html += '<td><p>无</p></td>';
            html += '<td><a href="javascript:EditCustomer(' + id + ')">编辑</a></td>';
            html += '</tr>';
            $('#lstCustomers').prepend(html);
            CloseToggle();
            HideLoading();
        })
    });
    function EditCustomer(id) {
        $(".es-dialog").removeClass(".show");
        ShowLoading();
        $.getJSON("/Enterprise/Customer/" + id, {}, function (customer) {
            $("#CurrentID").val(id);
            $("#DepartmentName").val(customer.DepartmentName);
            $("#ProductCategory").val(customer.ProductCategory);
            $("#ProductName").val(customer.ProductName);
            $("#OfficeEmail").val(customer.OfficeEmail);
            $("#Name").val(customer.Name);
            $("#Sex").val(customer.Sex);
            $("#Position").val(customer.Position);
            $("#Tel").val(customer.Tel);
            $("#Phone").val(customer.Phone);
            $("#Email").val(customer.Email);
            $("#Fax").val(customer.Fax);
            $("#QQ").val(customer.QQ);
            $("#Wechat").val(customer.WeChat);
            $("#Birthday").val(customer.Birthday);
            $("#Hint").val(customer.Hint);
            $("#btnDeleteCustomer").attr("href", "javascript:DeleteCusomer(" + id + ")");
            $(".es-dialog").addClass("show");
            HideLoading();
        });
    }

    $("#btnSaveCustomer").click(function () {
        ShowLoading();
        $("#frmEditCustomer").submit();
    });

    function DeleteCusomer(id) {
        ShowLoading();
        $.get("/Enterprise/DeleteCustomer/" + id, { sid: '@ViewBag.SID' }, function (c) {
            HideLoading();
            if ("cannot delete" == c) {
                alert('无法删除该联系人。请确认其它地方是否关联了该联系人信息。');
            } else {
                window.location = "/Enterprise/Show/" + c;
            }
        });
    }
</script>