@model EnterpriseModel
@{
    ViewBag.Title = "客户资料";
}
<style>
    .es-table-outer {
        padding: 20px;
    }

        .es-table-outer td {
            vertical-align: top;
        }

    td h3 {
        color: #fff;
        margin: 0;
        padding: 0;
    }

    .es-menu-extend table {
        line-height: 36px !important;
    }
</style>
<div class="es-block-menu">
    <a href="#" data-toggle="EditEnterprise">编辑</a>
    <div class="es-menu-extend" id="EditEnterprise">
        @using (Html.BeginForm("Edit", "Enterprise", new { id = Model.ID }, FormMethod.Post, new { id = "frmEditEnterprise", enctype= "multipart/form-data" }))
        {
            @Html.AntiForgerySID()
            <table style="width:600px">
                <tr>
                    <td>企业名称</td>
                    <td><input name="Title" value="@Model.Title" type="text" class="textbox" placeholder="企业名称" /></td>
                    <td>企业类型</td>
                    <td><input name="Type" value="@Model.Type" type="text" class="textbox full-width" placeholder="企业类型" /></td>
                </tr>
                <tr>
                    <td>企业等级</td>
                    <td>
                        <select name="Level" class="select">
                            <option value="A" @(Model.Level == EnterpriseLevel.A ? " selected" : "")>A</option>
                            <option value="B" @(Model.Level == EnterpriseLevel.B ? " selected" : "")>B</option>
                            <option value="C@(Model.Level == EnterpriseLevel.C ? " selected" : "")">C</option>
                            <option value="D" @(Model.Level == EnterpriseLevel.D ? " selected" : "")>D</option>
                        </select>
                    </td>
                    <td>品牌</td>
                    <td><input name="Brand" value="@Model.Brand" type="text" class="textbox full-width" placeholder="销售额" /></td>
                </tr>
                <tr>
                    <td>规模</td>
                    <td><input name="Scale" value="@Model.Scale" type="text" class="textbox" placeholder="企业名称" /></td>
                    <td>销售额</td>
                    <td><input name="SalesVolume" value="@Model.SalesVolume" type="text" class="textbox full-width" placeholder="销售额" /></td>
                </tr>
                <tr>
                    <td>联系电话</td>
                    <td><input name="Phone" value="@Model.Phone" type="text" class="textbox" placeholder="联系电话" /></td>
                    <td>传真</td>
                    <td><input name="Fax" value="@Model.Fax" type="text" class="textbox full-width" placeholder="传真" /></td>
                </tr>
                <tr>
                    <td>通信地址</td>
                    <td><input name="Address" type="text" value="@Model.Address" class="textbox" placeholder="通信地址" /></td>
                    <td>邮政编码</td>
                    <td><input name="Zip" value="@Model.Zip" type="text" class="textbox full-width" placeholder="邮政编码" /></td>
                </tr>
                <tr>
                    <td>企业网址</td>
                    <td colspan="3"><input name="Website" value="@Model.Website" type="text" class="textbox full-width" placeholder="http://" /></td>
                </tr>
                <tr>
                    <td>备注</td>
                    <td colspan="3"><input name="Hint" type="text" value="@Model.Hint" class="textbox full-width" placeholder="备注" /></td>
                </tr>
                <tr>
                    <td>企业徽标</td>
                    <td colspan="3"><input type="file" name="Icon" /> (.png/.gif/.bmp/.jpg)</td>
                </tr>
            </table>
        }
        <p style="text-align:center"><a href="javascript:void(0);" id="btnSaveEnterprise">保存修改</a></p>
    </div>
    <a href="#" data-toggle="AddCustomer">添加联系人</a>
    <div class="es-menu-extend" id="AddCustomer">
        <table style="width:600px">
            <tr>
                <td>姓名</td>
                <td><input id="txtName" type="text" class="textbox" placeholder="姓名" /></td>
                <td>性别</td>
                <td>
                    <select class="select" id="lstSex">
                        <option value="Male">男</option>
                        <option value="Female">女</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>职位</td>
                <td><input id="txtPosition" type="text" class="textbox" placeholder="职位" /></td>
                <td>电话</td>
                <td><input id="txtTel" type="text" class="textbox full-width" placeholder="电话" /></td>
            </tr>
            <tr>
                <td>手机号</td>
                <td><input id="txtPhone" type="text" class="textbox" placeholder="手机号" /></td>
                <td>邮箱</td>
                <td><input id="txtPhone" type="text" class="textbox full-width" placeholder="电话" /></td>
            </tr>
            <tr>
                <td>传真</td>
                <td><input id="txtFax" type="text" class="textbox" placeholder="传真" /></td>
                <td>电子邮箱</td>
                <td><input id="txtEmail" type="text" class="textbox full-width" placeholder="电子邮箱" /></td>
            </tr>
            <tr>
                <td>QQ</td>
                <td><input id="txtQQ" type="text" class="textbox" placeholder="QQ" /></td>
                <td>微信号</td>
                <td><input id="txtWechat" type="text" class="textbox full-width" placeholder="微信号" /></td>
            </tr>
            <tr>
                <td>出生日期</td>
                <td><input id="txtBirthday" type="text" class="textbox" placeholder="出生日期" /></td>
                <td>备注</td>
                <td><input id="txtHint" type="text" class="textbox full-width" placeholder="备注" /></td>
            </tr>
        </table>
        <p style="text-align:center"><a href="javascript:void(0);" id="btnAddCustomer">添加联系人</a></p>
    </div>
    <a href="#" data-toggle="ExportMenu">导出名录</a>
    <div class="es-menu-extend" id="ExportMenu">
        <table>
            <tr>
                <td style="width:180px">
                    <p style="text-align:center"><img style="width:120px;height:120px;" src="~/Images/excel.png" /></p>
                    <p style="text-align:center"><a href="#">导出到Excel</a></p>
                </td>
                <td style="width:180px">
                    <p style="text-align:center"><img style="width:120px;height:120px;" src="~/Images/pdf.png" /></p>
                    <p style="text-align:center"><a href="#">导出到PDF</a></p>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="es-table-outer">
    <table>
        <tr>
            <td style="width: 200px;">
                <img src="/Enterprise/Icon/@Model.ID" class="es-icon-large" />
            </td>
            <td>
                <h3>@Model.Title</h3>
                <p>
                    地址: @Model.Address / 邮编: @Model.Zip
                    <br />
                    电话: @Model.Phone / 传真: @Model.Fax / 网址: @Model.Website
                    <br />
                    企业性质: @Model.Property / 企业类型: @Model.Type / 企业规模: @Model.Scale / 销售额: @Model.SalesVolume
                </p>
                <p>备注: @Model.Hint</p>
            </td>
        </tr>
    </table>
</div>

<div class="es-customer-container" id="lstCustomers">
    @foreach (var c in Model.Customers)
    {
        <div class="es-customer" onclick="EditCustomer(@c.ID)">
            <h3>@c.Name @(c.Sex == Sex.Male ? "♂" : "♀")</h3>
            <table>
                <tr>
                    <td>职位: @c.Position</td>
                    <td>电话: @c.Tel</td>
                </tr>
                <tr>
                    <td>手机: @c.Phone</td>
                    <td>传真: @c.Fax</td>
                </tr>
                <tr>
                    <td>微信: @c.WeChat</td>
                    <td>QQ: @c.QQ</td>
                </tr>
                <tr>
                    <td colspan="2">邮箱: @c.Email</td>
                </tr>
                <tr>
                    <td colspan="2">生日: @c.Birthday.ToString("MM月dd日")</td>
                </tr>
            </table>
            <p>备注: @c.Hint</p>
            <p>相关项目: </p>
            @foreach (var p in c.Projects)
            {
                <p><a target="_blank" href="/Project/Show/@p.ID">@p.Title</a></p>
            }
            @if (c.Projects.Count == 0)
            {
                <p>无</p>
            }
        </div>
    }
</div>

<script>
    $("#txtBirthday").datetimepicker();
    $("#btnSaveEnterprise").click(function () {
        ShowLoading();
        $("#frmEditEnterprise").submit();
    });
    $("#btnAddCustomer").click(function () {
        ShowLoading();
        $.post("/Enterprise/CreateCustomer/@Model.ID", {
            Name: $("#txtName").val(),
            Sex: $("#lstSex").val(),
            Position: $("#txtPosition").val(),
            Tel: $("#txtTel").val(),
            Phone: $("#txtPhone").val(),
            Fax: $("#txtFax").val(),
            Email: $("#txtEmail").val(),
            QQ: $("#txtQQ").val(),
            WeChat: $("#txtWechat").val(),
            Birthday: $("#txtBirthday").val(),
            Hint: $("#txtHint").val(),
            sid: "@ViewBag.SID"
        }, function (id) {
            var html = '<div class="es-customer" onclick="EditCustomer(' + id + ')">';
            html += '<h3>' + $("#txtName").val() + ' ' + ($("#lstSex").val() == "Male" ? "♂" : "♀") + '</h3>';
            html += '<table><tr><td>职位: ' + $("#txtPosition").val() + '</td><td>电话: ' + $("#txtTel").val() + '</td></tr>';
            html += '<tr><td>手机: ' + $("#txtPhone").val() + '</td><td>传真: ' + $("#txtFax").val() + '</td></tr>';
            html += '<tr><td>微信: ' + $("#txtWechat").val() + '</td><td>QQ: ' + $("#txtQQ").val() + '</td></tr>';
            html += '<tr><td colspan="2">邮箱: ' + $("#txtEmail").val() + '</td></tr>';
            html += '<tr><td colspan="2">生日: ' + $("#txtBirthday").val() + '</td></tr></table>';
            html += '<p>备注: ' + $("#txtHint").val() + '</p><p>相关项目: 无</p>';
            $('#lstCustomers').prepend(html);
            CloseToggle();
            HideLoading();
        })
    });
</script>