
@{
    ViewBag.Title = "周报";
}

<style>
    .table th, .table td {
        color: #333;
    }

    .table td {
        border-bottom: 1px solid #ccc;
    }

    .table tbody tr:hover {
        background-color: #ddd;
    }
</style>

<div class="es-block-menu">
    <a href="/Report/Day/@ViewBag.ID">日报</a>
    <a href="/Report/Week/@ViewBag.ID" class="es-block-menu-active">周报</a>
    <a href="/Report/Month/@ViewBag.ID">月报</a>
    <a href="/Report/New/@ViewBag.ID">填写报告</a>
</div>
<div class="es-block">
    <p>
        年份：
        <select id="lstYears" class="select">
            @for (var i = 1970; i < DateTime.Now.Year; i++)
            {
                <option value="@i">@i</option>
            }
            <option value="@DateTime.Now.Year" selected>@DateTime.Now.Year</option>
        </select>
        周数：
        <select id="lstWeeks" class="select" style="width:280px">

        </select>
        <input type="button" value="检索" id="btnSearchReports" class="button button-def" />(超出3天后不可汇报)
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>日期</th>
                <th>周数</th>
                <th style="width:50%">内容</th>
                <th>记录时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="lstReports">
        </tbody>
    </table>
</div>

<script>

    function expendReports(id) {
        var div = $("#todo-part-" + id);
        if (div) {
            var hided = div.is(":hidden");
            if (!hided) {
                $("#todo-" + id).toggle();
                $("#todo-tr-" + id).toggle();
                $("#todo-part-" + id).hide();
            }
        }

        div = $("#question-part-" + id);
        if (div) {
            var hided = div.is(":hidden");
            if (!hided) {
                $("#question-" + id).toggle();
                $("#question-tr-" + id).toggle();
                $("#question-part-" + id).hide();
            }
        }

        div = $("#finished-part-" + id);
        if (div) {
            var hided = div.is(":hidden");
            if (!hided) {
                $("#finished-" + id).toggle();
                $("#finished-tr-" + id).toggle();
                $("#finished-part-" + id).hide();
            }
        }
    }

    function collapseReports(id) {
        var div = $("#todo-part-" + id);
        if (div) {
            var hided = div.is(":hidden");
            if (hided) {
                $("#todo-" + id).toggle();
                $("#todo-tr-" + id).toggle();
                $("#todo-part-" + id).show();
            }
        }

        div = $("#question-part-" + id);
        if (div) {
            var hided = div.is(":hidden");
            if (hided) {
                $("#question-" + id).toggle();
                $("#question-tr-" + id).toggle();
                $("#question-part-" + id).show();
            }
        }

        div = $("#finished-part-" + id);
        if (div) {
            var hided = div.is(":hidden");
            if (hided) {
                $("#finished-" + id).toggle();
                $("#finished-tr-" + id).toggle();
                $("#finished-part-" + id).show();
            }
        }
    }

    $(document).ready(function () {
        function BuildWeekList()
        {
            $("#lstWeeks").html('')
            var year = $("#lstYears").val();
            var thisweek = @ViewBag.ThisWeek;
            for (var i = 1; i <= 53; i++) {
                if(i != thisweek)
                    $("#lstWeeks").append("<option value='" + i + "'>第" + i + "周 (" + mm(year, i) + " 至 " + mml(year, i) + ")</option>");
                else
                    $("#lstWeeks").append("<option selected value='" + i + "'>第" + i + "周 (" + mm(year, i) + " 至 " + mml(year, i) + ")</option>");
            }
        }

        BuildWeekList();

        function LoadReports() {
            ShowLoading();
            $("#lstReports").html('');
            var y = $("#lstYears").val();
            var w = $("#lstWeeks").val();
            $.getJSON("/Report/GetReports/@ViewBag.ID",
                {
                    Type: "Week",
                    year: y,
                    week: w
                }, function (data) {
                    var j = 0;
                    var begin =$("#lstWeeks").val()-2;
                    if(begin < 1)begin = 1;
                    var end = begin+4;
                    if(end > 53)end=53;
                    for (var i = begin; i <= end; i++) {
                        var hasData = false;
                        for (var index = 0; index < data.length; index++) {
                            var item = data[index];
                            if (i == item.Week) {
                                hasData = true;
                            }
                        }
                        if (!hasData) {
                            $("#lstReports").append("<tr><td>" + mm(y, i) + " 至 " + mml(y, i) + "</td><td>" + i + "</td><td></td><td></td><td></td></tr>");
                        } else {
                            $("#lstReports").append("<tr><td>" + mm(y, i) + " 至 " + mml(y, i) + "</td><td>" + i + "</td><td><table border='0' style='width:100%'><tr><td width='100px;'><a href='javascript:;' style='color:red;' onclick='javascript:$(\"#todo-" + data[j].ID + "\").toggle(); $(\"#todo-tr-" + data[j].ID + "\").toggle(); showOrHide(\"todo-part-" + data[j].ID + "\");'>待办事项</a></td><td><div id=\"todo-part-" + data[j].ID + "\">" + data[j].TodoListPart + "</div></td></tr><tr id=\"todo-tr-" + data[j].ID + "\" class='es-report'><td colspan='2'><div id='todo-" + data[j].ID + "' class='es-report'>" + data[j].TodoList + "</div></td></tr><tr><td><a href='javascript:;' onclick='$(\"#question-" + data[j].ID + "\").toggle(); $(\"#question-tr-" + data[j].ID + "\").toggle(); showOrHide(\"question-part-" + data[j].ID + "\");'>遇到问题</a></td><td><div id=\"question-part-" + data[j].ID + "\">" + data[j].QuestionListPart + "</div></td></tr><tr id=\"question-tr-" + data[j].ID + "\" class='es-report'><td colspan='2'><div id='question-" + data[j].ID + "' class='es-report'>" + data[j].QuestionList + "</div></td></tr><tr><td><a href='javascript:;' onclick='javascript:$(\"#finished-" + data[j].ID + "\").toggle(); $(\"#finished-tr-" + data[j].ID + "\").toggle(); showOrHide(\"finished-part-" + data[j].ID + "\");'>已办事项</a></td><td><div id=\"finished-part-" + data[j].ID + "\">" + data[j].FinishedListPart + "</div></td></tr><tr id=\"finished-tr-" + data[j].ID + "\" class='es-report'><td colspan='2'><div id='finished-" + data[j].ID + "' class='es-report'>" + data[j].FinishedList + "</div></td></tr></table></td><td>" + data[j].Time + "</td><td><a href='javascript:;' onclick='expendReports(\"" + data[j].ID + "\");'>展开</a>&nbsp;&nbsp;<a href='javascript:;' onclick='collapseReports(\"" + data[j].ID + "\");'>收起</a>&nbsp;&nbsp;<a href='/Report/Edit/" + data[j].ID + "'>编辑</a></td></tr>");
                            j++;
                        }
                    }
                    HideLoading();
                });
        }

        $("#lstYears").change(function () {
            BuildWeekList();
        });

        $("#btnSearchReports").click(function(){
            LoadReports();
        });

        LoadReports();
    });
</script>